.page {
    width: 1920px;
    margin: 0 auto;

}
.container {
    width: 1920px;
    margin: 0 auto;

}
.margin-right-disabled {
    margin-right: 0;
}
.margin-left-disabled {
   margin-left: 0;
}
.margin-bottom-disabled {
    margin-bottom: 0;
}
.margin-top-disabled {
    margin-top: 0px;
}